############################################################################################################################################################################
#   Hedgehog by Isik's Tech Sample Configuration File
############################################################################################################################################################################

#### Hedgehog MCU ID ####
[mcu Hedgehog]
canbus_uuid: 851f010526b7        							#### Change the UUID to the ID obtained during flashing via the Hedgehog Klipper setup documents, if set up using CANBus.
##serial: /dev/serial/by-id/								#### Change the device serial ID to the ID obtained during flashing via the Hedgehog Klipper setup documents, if set up via USB.
#restart_method: command

#### Hedgehog MCU Temperature ####
[temperature_sensor Hedgehog]
sensor_type: temperature_mcu
sensor_mcu: Hedgehog
min_temp: 0
max_temp: 110

############################################################################################################################################################################
#   (3) Available Thermistor Pins 
############################################################################################################################################################################
### Only (3) Available pins to be used for Thermistors. Can be used otherwise, but only these (3) can be used for Thermistors due to having pull-up resistors.

#### Hedgehog MCU Thermistor No.1 Settings  ####
#[temperature_sensor XXXXX]									#### Change "XXXXX" to the name of the thermistor.
#sensor_type: Generic 3950            						#### Change the thermistor type to the type installed/being used
#sensor_pin: Hedgehog:PA1             						#### Pin is pulled up/protected.
#min_temp: 0												#### Generic Settings. Leave as is if applicable or adjust to the range needed.
#max_temp: 125												#### Generic Settings. Leave as is if applicable or adjust to the range needed.

#### Hedgehog MCU Thermistor No.2 Settings  ####
#[temperature_sensor XXXXX]									#### Change "XXXXX" to the name of the thermistor.
#sensor_type: Generic 3950            						#### Change the thermistor type to the type installed/being used
#sensor_pin: Hedgehog:PA2             						#### Pin is pulled up/protected.
#min_temp: 0												#### Generic Settings. Leave as is if applicable or adjust to the range needed.
#max_temp: 125												#### Generic Settings. Leave as is if applicable or adjust to the range needed.

#### Hedgehog MCU Thermistor No.3 Settings  ####
#[temperature_sensor XXXXX]									#### Change "XXXXX" to the name of the thermistor.
#sensor_type: Generic 3950            						#### Change the thermistor type to the type installed/being used
#sensor_pin: Hedgehog:PA3             						#### Pin is pulled up/protected.
#min_temp: 0												#### Generic Settings. Leave as is if applicable or adjust to the range needed.
#max_temp: 125												#### Generic Settings. Leave as is if applicable or adjust to the range needed.

############################################################################################################################################################################
#   Hedgehog Available Pins Data
############################################################################################################################################################################

###Pin ID###			###ADC###							###Bus###					###HW Timer###					###5v Tolerant####
#	PA6				Yes-Not Pulled UP							-								-								Yes
#	PA7				Yes-Not Pulled UP							-				 				Yes								Yes
#	PB2				Yes-Not Pulled UP			SPI2 MISO (spi2_PB2_PB11_PB10)					-								Yes
#	PB10			Yes-Not Pulled UP			SPI2 SCK (spi2_PB2_PB11_PB10)					Yes								Yes
#												I2C2 SCL (i2c2_PB10_PB11)
#	PB11			Yes-Not Pulled UP			SPI2 SCK (spi2_PB2_PB11_PB10)					Yes								Yes
#												I2C2 SCL (i2c2_PB10_PB11)
#	PB12			Yes-Not Pulled UP							-								-								Yes
#	PB13					-					SPI2 SCK (spi2_PB14_PB15_PB13)					-								Yes
#	PB14					-					SPI2 MISO (spi2_PB14_PB15_PB13)					Yes								Yes
#	PB15					-					SPI2 MOSI (spi2_PB14_PB15_PB13)					Yes								Yes
#	PA8						-									-								Yes								Yes
#	PA9						-									-								Yes								Yes
#	PC6						-									-								Yes								Yes
#	PC7						-									-								Yes								Yes
#	PA10					-									-								Yes								Yes
#	PB9						-					I2C1 SDA (i2c1_PB8_PB9)							Yes								Yes
#	PB8						-					I2C1 SDA (i2c1_PB8_PB9)							Yes								Yes
#	PA15					-									-								-								Yes
#	PD0						-									-								Yes								Yes
#	PD1						-					SPI - No Klipper Support						Yes								Yes
#	PD2						-					SPI - No Klipper Support						-								Yes
#	PD3						-					SPI - No Klipper Support						-								Yes
#	PB3						-					SPI1 SCK (spi1_PB4_PB5_PB3)						Yes								Yes
#	PB4						-					SPI1 SCK (spi1_PB4_PB5_PB3)						Yes								Yes
#	PB5						-					SPI1 SCK (spi1_PB4_PB5_PB3)						Yes								Yes
#	PB6						-									-								Yes								Yes
#	PB7						-									-								-								Yes
#	PC13					-									-								-								Yes
#	PA1				Yes-Pulled Up/Protected						-								-								Yes
#	PA3				Yes-Pulled Up/Protected						-								-								Yes
#	PA2				Yes-Pulled Up/Protected						-								-								Yes
#	PA5				Yes-Not Pulled Up							-								Yes								No

############################################################################################################################################################################
#   Hedgehog Pin Map
############################################################################################################################################################################

#	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)				[CANBUS]		#
#	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)				[Microfit 3]	#
#	(PB8)	(PB9)	(PA10)	(PC7)	(PC6)	(PA9)	(PA8)	(PB15)	(PB14)	(PB13)	(PB12)	(PB11)	(PB10)	(PB2)	(PA7)	(P6)				[Connector]		#
#																																								#
#																																								#
#   (  )																																			(  )		#
#																																								#
#																																								#
#	(PA15)	(PD0)	(PD1)	(PD2)	(PD3)	(PB3)	(PB4)	(PB5)	(PB6)	(PB7)	(PC13)	(PA1)	(PA3)	(PA2)	(PA5)	(V_IN)				[USB C]			#
#	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(GND)	(CAN TERM)			[Female]		#
#	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(3.3V)	(CAN TERM)			[Connector]		#

############################################################################################################################################################################

### This board is not limited to the examples listed below. These are just a few examples to show sample use cases for this board and how to configure them. ###

############################################################################################################################################################################
#   Example - Physical Kill Switch Configuration 
############################################################################################################################################################################

#[gcode_button kill_switch]
#pin: Hedgehog: XXX													#### Change "XXX" to the pin in which the Emergency Stop Switch is connected.
##press_gcode: M112
#press_gcode:
#    { action_emergency_stop() }

############################################################################################################################################################################
#   Example - Endstop Switch Configuration 
############################################################################################################################################################################
#[Stepper A]
#endstop_pin: Hedgehog: XXX											#### Change "XXX" to the pin in which the endstop is connected.
#position_min: 0
##position_endstop: 300
##position_max: 300

############################################################################################################################################################################
#   Example - ChamberLED Control Configuration 
############################################################################################################################################################################

## Chamber Lighting 
#[output_pin Chamber_Lights]
#pin: Hedgehog: XXX													#### Change "XXX" to the pin in which the chamber lights are connected.
#pwm:true
#shutdown_value: 0
#value:0.05
#cycle_time: 0.01

############################################################################################################################################################################
#   Example - Filament Sensor (Switch) Configuration 
############################################################################################################################################################################

#[filament_switch_sensor switch_sensor]
#switch_pin: ^Hedgehog: XXX											#### Change "XXX" to the pin in which the filament sensor (switch) connected. 
#pause_on_runout: False
#runout_gcode:
#  PAUSE # [pause_resume] is required in printer.cfg
#  M117 Filament switch runout
#insert_gcode:
#  M117 Filament switch inserted

############################################################################################################################################################################
#   Example - Filament Sensor (Encoder) Configuration 
############################################################################################################################################################################

#[filament_motion_sensor encoder_sensor]
#switch_pin: ^Hedgehog: XXX											#### Change "XXX" to the pin in which the filament sensor (switch) connected.  
#detection_length: XXX												#### Change "XXX" to match the detection length of your encoder wheel.
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
#  PAUSE # [pause_resume] is required in printer.cfg
#  M117 Filament encoder runout
#insert_gcode:
#  M117 Filament encoder inserted

############################################################################################################################################################################
#   Example - Gcode definition if using the above Switch and Encoder Configs
############################################################################################################################################################################

#[gcode_macro _RUNOUT_INFO]
#gcode:
#  {% if 'filament_motion_sensor filament' in printer.configfile.settings %}
#    {% set enable = printer['filament_motion_sensor filament'].enabled %}
#    {% set detect = printer['filament_motion_sensor filament'].filament_detected %}
#    {action_respond_info("RUNOUT Motion Sensor:
#                          Enabled: %s
#                          Detect Filament: %s" % (enable|lower,detect|lower))}
#  {% endif %}